body {
    background-image: url(../img/background.jpeg);
}
main {
    text-align: center;
}

.tabuleiro div input {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    background-size: 100%;
    /* background-image: url('../img/vazio.png'); */
}

.containerPersonagens div input {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    background-size: 100%;
}

img {
    width: 130px;
    height: 130px;
}
.input {
    background-color: lightblue;
}
.texto {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}