body {
    background-color: rgb(107, 163, 181);
}
main {
    text-align: center;
}
.tabuleiro div input {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
}
/* .tabuleiro div input:hover {
    opacity: 0.5;
} */
.hr {
    width: 70%;
    background-color: black;
}
.fonte {
    font-family: Lucida Handwriting;
}
.local {
    position: fixed;
    transform: scaleX(-1);
    top: 170px;
    left: 50px;
    pointer-events: none;
}
input[type=button]{
    background-color: #B0EBFF;
}